@{
    ViewData["Title"] = "Confirmation Error";
}

<div class="d-flex flex-grow-1 align-items-center justify-content-center" style="height: 100%">
    <h1 class="text-danger">Oops, there has been an error! Try again!</h1>
</div>