@{
    ViewData["Title"] = "Confirmation Success";
}

<div class="d-flex flex-grow-1 align-items-center justify-content-center" style="height: 100%;">
    <h1 class="text-success">Confirmation success!</h1>
</div>