@{
    ViewData["Title"] = "Confirmation Success";
}

<div class="d-flex flex-grow-1 align-items-center justify-content-center full-height">
    <h1 class="text-success text-center">Confirmation success!</h1>
</div>