@{
    ViewData["Title"] = "Login Page";
}

<form action="/Auth/Login" method="post">
    <input type="text" name="username" value=""/>
    <input type="password" name="password" value=""/>
    <button type="submit">Login</button>
</form>

