@{
    ViewData["Title"] = "Registration Page";
}

<form action="/Auth/Register" method="post">
    <input type="text" name="username" value="" />
    <input type="password" name="password" value="" />
    <button type="submit">Register</button>
</form>