@{
    ViewData["Title"] = "Confirmation Email Sent";
}

<div class="d-flex flex-grow-1 align-items-center justify-content-center full-height">
    <h1 class="text-success text-center">Confirmation link has been sent to your email! Click it!</h1>
</div>