@using Microsoft.CodeAnalysis
@model IEnumerable<TopicListEntryViewModel>
@{
    ViewData["Title"] = "Forum";
}

@section Styles {
    <link href="@Url.Content("~/css/topic-list.css")" rel="stylesheet" />
}
<div class="d-flex align-items-center">
    <h1>Forum</h1>
    <a asp-action="CreateTopic" asp-controller="Topic" class="btn btn-success ml-auto create-topic-btn"><i class="fas fa-plus"></i> Create New Topic</a>
</div>
<table class="table table-hover mt-2 position-relative">
    <thead>
        <tr>
            <th class="title">Topic</th>
            <th class="author">Author</th>
            <th class="replies">Replies</th>
            <th class="views">Views</th>
            <th class="activity">Activity</th>
        </tr>
    </thead>
    <tbody>
        @foreach (var topic in Model)
        {
            @await Html.PartialAsync("./_TopicListEntry", topic);
        }
    </tbody>
</table>