@model  IEnumerable<Topic>
@{
    ViewData["Title"] = "Forum";
}

<h1>Forum</h1>
@foreach (var topic in Model)
{
    @await Html.PartialAsync("./_TopicListEntry", topic);
}
<a asp-action="CreateTopic" asp-controller="Topic" class="btn btn-success">Create New Topic</a>